<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Getting Started: Serving Web Content</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1 class="page-header">Users</h1>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Username</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}">ID</td>
					<td th:text="${user.username}">Username</td>
					<td th:text="${user.email}">Email</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>